
<form asp-controller="File" asp-action="Create" method="post">
    <div class="input-group-sm">
        <label>File Name</label>
        <input type="text" name="fileName" class="form-control"/>
    </div> <br/>
    <div class="input-group-sm">
        <button type="submit" class="btn btn-success">Create File</button>
    </div>
</form>