


<form asp-controller="File" asp-action="FileUpload" method="post" enctype="multipart/form-data">
    <div class="input-group-sm">
        <label>File</label>
        <input type="file" name="formFile" class="form-control"/>
    </div> <br/>
    <div class="input-group-sm">
        <button type="submit" class="btn btn-success" >Upload</button>
    </div>
</form>